

/*BACKGROUND*/
.backgroundImages
{
    position: absolute;
    z-index: -1;
}

#telescope
{
    top: -25%;
    width: 100vw;
    height: auto;
}

#galaxy
{
    width: 100vw;
    height: auto;
    opacity: 0.3;
}

/*CONTENT*/
.content
{
    z-index: 1;
}

#nav-blank-section
{
    flex-grow: 1;
}

