

/*Removing underline and stuff from links*/
/*a
{
    text-decoration: none;
}

/*This is used to darken the image so text can be read against it easier*/
/*body
{
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

nav
{
    display: flex;
    width: 100%;  
    z-index: 1;  
}*/